<div class="login-form">
  <form>
      <mat-form-field class="example-full-width">
       
        <input matInput placeholder="User Name" [(ngModel)]="username" name="username" required="true">
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <mat-label>Password:</mat-label>
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required="true">
      </mat-form-field>
      <p>{{ message }}</p>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </form>
  </div>